In [2]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv('placement.csv')

In [8]:
df.head()
df.shape

(100, 3)

In [5]:
df = df.iloc[:,1:]

In [6]:
df.head()

   cgpa     iq  placement
0   6.8  123.0          1
1   5.9  106.0          0
2   5.3  121.0          0
3   7.4  132.0          1
4   5.8  142.0          0

## Steps 
1. PreProcessing of data + EDA (Exploratory data analysis) + Feature selection
2. Extract input and output cols
3. Scale the values